<h4><%= user.name %></h>
<h4>誕生日<%= user.birthday %></h4>

<table class='table'>
  <tr>
  <th>follows:</th>
    <th>
      <%= link_to user_followings_path(user.id) do %>
      <%= user.followings.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers:</th>
    <th>
      <%= link_to user_followers_path(user.id) do %>
      <%= user.followers.count %>
      <% end %>
    </th>
    </tr>
    <tr id="follow_btn_<%= user.id %>">
    <%= render 'relationships/follow', user: current_user %>
    </tr>
</table>
