<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: current_user %>
      <h2 class="mt-3">ゆーざ</h2>
    </div>
    <div class='col-md-8 offset-md-1'>
        <!-- もしユーザーがログインしていたら -->
        <div class='table'>
          <% if user_signed_in? %>
            <% @users.each do |user| %>
              <div>
                <%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg' %>
              </div>
              <%= user.name %>
              <div id="follow_btn_<%= user.id %>">
              <%= render 'relationships/follow', user: user %>
              </div>
            <% end %>
          <% end %>
        </div>

    </div>
  </div>
</div>