<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
    <% if current_user == @user %>
      <h2>マイページ</h2>
    <% else %>
      <!--サイドバー、分かりやすく-->
      <h2>　</h2>
    <% end %>
      <%= render 'info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>

<!-- カレンダーの表示 -->
<div id="calendar"></div>
<!-- もしユーザーがログインしていたら -->
<% if user_signed_in? %>
    <!-- ページのparams.idがログインユーザー.idと同じなら -->
    <% if @user.id == current_user.id %>
        <div id="inputScheduleForm" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-nm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">記念日を登録</h4>
                    </div>
                    <div class="modal-body">
                        <%= form_with model: @event, url: events_path do |f| %>
                            <div  class="col">
                                    <p>
                                        <span>タイトル</span>
                                        <span><%= f.text_field :title, class: "form-control", placeholder: "〇〇の日、〇〇記念" %></span>
                                    </p>
                                    <span>開始日時</span>
                                    <span><%= f.date_field  :start, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
                                    <span>終了日時</span>
                                    <span><%= f.date_field :end, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
                                    <span>詳細
                                    <%= f.text_field :body, class: "form-control", placeholder: "タイトルの詳細を記入してください" %></span>
                            </div>
                            <div class="modal-footer">
                                <%= f.submit "登録する", class: "btn btn-primary" %>
                                <%= f.hidden_field :user_id, :value => current_user.id %>
                                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
<!-- 編集 ------------------------------------------------------------------>
        <div id="inputEditForm">
            <%= render 'events/edit', events: @events %>
        </div>
    <% end %>
<% end %>
    <script>

        // カレンダー表示
        $('#calendar').fullCalendar ({
            header: {
                left: 'prev,next today',
                // ,agendaWeek,agendaDay　月単位の表示だけする
                center: 'month',
                right: 'title'
            },

            buttonText: {
                  prev: "<",
                  next: ">"
            },

            timezone: 'UTC',
            events: '/users/<%= @user.id %>',
            navLinks: true,
            selectable: true,
            selectHelper: true,
            // 日付の枠内クリックで、記念日登録
            dayClick : function ( date , jsEvent , view ) {
                $('#inputScheduleForm').modal('show');
                },

            // event クリックで編集、削除
            eventClick : function(event, jsEvent , view) {
                jsEvent.preventDefault();
                $(`#inputScheduleEditForm${event.id}`).modal('show');
            },

            eventMouseover : function(event, jsEvent , view) {
                jsEvent.preventDefault();
            }
        })

    </script>
    
    </div>
  </div>
</div>