<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 mx-auto">
      <%= form_with model: @contact, local:true do |f| %>
        <div class="form-group">
          <%= f.label :name, 'お名前*' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label :email, 'メールアドレス*' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :message, 'メッセージ*' %>
          <%= f.text_area :message, size: '10x10', class: 'form-control', placeholder: "ご意見・ご感想をお寄せください。" %>
        </div>
      
        <div class='text-center mb-5'>
          <%= f.submit '送信', class: 'btn btn-outline-dark btn-lg', data: { confirm: '以下の内容で送信します。' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>